{% extends 'events/layout.html' %}

{% block content %}
<div class="detail">
    <div class="event">
        <div class="header">
            <p class="title">
                {{ event.title }}
            </p>
            <p class="owner">
                Owner: {{ event.owner.name }}
            </p>
        </div>
        <div class="body">
            <p class="description">
                {{ event.description }}
            </p>
        </div>
        <div class="info">
            <p class="date">
                {{ event.date }}
            </p>
            <p class="participants">
                {{ event.participants.count }} participants
            </p>
        </div>
    </div>

    {% if not is_owner %}
        {% if is_participating %}
            <div class="you-joined">
                you joined.
            </div>
        {% else %}
            <form 
                action="{% url 'events.join' pk=event.pk %}" 
                method="post"
                class="join-event">
                {% csrf_token %}

                <input type="submit" value="Join Event">
            </form>
        {% endif %}
    {% else %}
        <div class="create-event">
            <a href="{% url 'events.update' pk=event.pk %}">Update Event</a>
        </div>
    {% endif %}
</div>
{% endblock content %}