{% extends "events/layout.html" %}

{% block content %}
<div class="home">
    <div class="create-event">
        <a href="{% url 'events.create' %}">Create Event</a>
    </div>

    {% include "events/pagination.html" %}

    <div class="events">
        {% for event in events %}
            <div class="event">
                <div class="header">
                    <p class="title">
                        <a href="{{ event.get_absolute_url }}">
                            {{ event.title }}
                        </a>
                    </p>
                    <p class="owner">
                        Owner: {{ event.owner.name }}
                    </p>
                </div>
                <div class="info">
                    <p class="date">
                        {{ event.date }}
                    </p>
                    <p class="participants">
                        {{ event.participants.count }} participants
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "events/pagination.html" %}
</div>
{% endblock content %}